h1 {
    color: #330099;
    font-family: Cursive;
  }
  body
  { 
    background-image:url('./背景.gif');
    background-repeat:no-repeat;
    background-position:center;
    font: 1em/150% Helvetica, Arial, Cursive ;
    padding: 1em;
    margin: 0 auto;
    max-width: 33em;
  }
  .instruction
  {
    color: #bdb6c9;
  }
  .introduce
  {color: white;}